@page "/categories"
@using AlbyOnContainers.ProductDataManager.Models
@inherits AlbyOnContainers.ProductDataManager.Pages.Abstract.LoadChildDataGridBase<AlbyOnContainers.ProductDataManager.Models.Category>

<div class="d-flex flex-row mb-2">
    <RadzenButton
        ButtonStyle=ButtonStyle.Primary
        Icon="add_circle_outline"
        Text="Add Macro Category"
        Click=InsertRowAsync
        Disabled="@(ToInsert is not null || ToUpdate is not null)"/>
</div>

<div class="d-flex flex-row">
    <RadzenDataGrid @ref=Grid
                    TItem=Category
                    LoadChildData="@LoadChildData" Data="Elements"
                    EditMode=DataGridEditMode.Single
                    ExpandMode="DataGridExpandMode.Single"
                    RowCreate=OnCreateRowAsync RowUpdate=OnUpdateRowAsync
                    Sort=Reset Page=Reset Filter=Reset
                    RowRender="@RowRender"
                    AllowFiltering="true" FilterMode=FilterMode.Simple FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                    AllowPaging="true" PageSize="5"
                    AllowSorting="true"
                    AllowAlternatingRows="true"
                    AllowColumnResize="true">

        <EmptyTemplate>
            <NoRecords/>
        </EmptyTemplate>

        <Columns>

            <RadzenDataGridColumn TItem="Category" Property="Name" Title="Name">
                <EditTemplate Context="category">
                    <RadzenTextBox @bind-Value="category.Name" Name="CategoryName" Style="width:100%; display: block;"/>
                    <RadzenRequiredValidator Text="Category Name is required" Component="CategoryName" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn TItem="Category" Property="Description" Title="Description">
                <EditTemplate Context="category">
                    <RadzenTextBox @bind-Value="category.Description" Name="CategoryDescription" Style="width:100%; display: block;"/>
                    <RadzenRequiredValidator Text="Category Description is required" Component="CategoryDescription" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn
                TItem=Category
                Filterable="false"
                Sortable="false"
                TextAlign=TextAlign.Right>
                <Template Context="element">
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Primary"
                        Variant="Variant.Flat"
                        Size="ButtonSize.Medium"
                        Icon="add"
                        Click="@(_ => InsertRowAsync(element))"
                        @onclick:stopPropagation="true"/>   
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="edit"
                        Click=@(_ => EditRowAsync(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Shade=Shade.Lighter
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                    @onclick:stopPropagation="true"/>
                </Template>
                <EditTemplate Context="element">
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Success
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="check"
                        Click=@(_ => SaveRowAsync(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="close"
                        Click=@(_ => CancelEdit(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Shade=Shade.Lighter
                        Size=ButtonSize.Medium
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                    @onclick:stopPropagation="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</div>