@using AlbyOnContainers.ProductDataManager.Models
@inherits AlbyOnContainers.ProductDataManager.Pages.Abstract.GridBase<AlbyOnContainers.ProductDataManager.Models.DescrValue>

<div class="d-flex flex-row">
    <RadzenDataGrid @ref=Grid
                    TItem=DescrValue
                    Data=@Elements
                    RowCreate=OnCreateRowAsync RowUpdate=OnUpdateRowAsync EditMode=DataGridEditMode.Single
                    Sort=Reset Page=Reset Filter=Reset
                    AllowFiltering="true" FilterMode=FilterMode.Simple FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                    AllowPaging="true" PageSize="5"
                    AllowSorting="true"
                    AllowAlternatingRows="true"
                    AllowColumnResize="true">

        <EmptyTemplate>
            <NoRecords/>
        </EmptyTemplate>

        <Columns>
            <RadzenDataGridColumn TItem="DescrValue" Property="Id" Title="ID" Width="275px"/>

            <RadzenDataGridColumn TItem="DescrValue" Property="Value" Title="Value">
                <EditTemplate Context="value">
                    <RadzenTextBox @bind-Value="value.Value" Name="Value" Style="width:100%; display: block"/>
                    <RadzenRequiredValidator Text="Value is required" Component="Value" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn TItem="DescrValue" Property="Description" Title="Description">
                <EditTemplate Context="value">
                    <RadzenTextBox @bind-Value="value.Description" Name="DescrTypeDescription" Style="width:100%; display: block"/>
                    <RadzenRequiredValidator Text="Description is required" Component="DescrTypeDescription" Popup="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            
            <RadzenDataGridColumn
                TItem=DescrValue
                Filterable="false"
                Sortable="false"
                TextAlign=TextAlign.Right>
                <Template Context="element">
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="edit"
                        Click=@(_ => EditRowAsync(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Shade=Shade.Lighter
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                    @onclick:stopPropagation="true"/>
                </Template>
                <EditTemplate Context="element">
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Success
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="check"
                        Click=@(_ => SaveRowAsync(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Light
                        Variant=Variant.Flat
                        Size=ButtonSize.Medium
                        Icon="close"
                        Click=@(_ => CancelEdit(element))
                    @onclick:stopPropagation="true"/>
                    <RadzenButton
                        ButtonStyle=ButtonStyle.Danger
                        Variant=Variant.Flat
                        Shade=Shade.Lighter
                        Size=ButtonSize.Medium
                        Icon="delete"
                        Click=@(_ => DeleteRowAsync(element))
                    @onclick:stopPropagation="true"/>
                </EditTemplate>
            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid>
</div>

<div class="d-flex flex-row mb-2">
    <RadzenButton
        ButtonStyle=ButtonStyle.Primary
        Icon="add_circle_outline"
        Text="Add Value"
        Click=InsertRowAsync
        Disabled="@(ToInsert is not null || ToUpdate is not null)"/>
</div>