@using AlbyOnContainers.ProductDataManager.Models
@inherits AlbyOnContainers.ProductDataManager.Pages.Abstract.GridBase<AlbyOnContainers.ProductDataManager.Models.Descr>

<RadzenTemplateForm Submit="@((Product product) => OnSubmit(product))">
    <div class="container-fluid">

        @foreach (var chunk in Types.Chunk(2))
        {
            <div class="row mt-1">

                @foreach (var join in chunk)
                {
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-2 align-items-center d-flex">
                                <RadzenLabel Text="@join.DescrType.Name"/>
                            </div>
                            <div class="col-md-10">
                                <RadzenDropDown 
                                    TValue="Guid"
                                    Value="Product.Descrs.FirstOrDefault(descr => descr.DescrValue.DescrType.Equals(join.DescrType))?.Id"
                                    ValueChanged="UpsertAsync"
                                    AllowClear="true" 
                                    Placeholder="Select something" 
                                    Data="@join.DescrType.DescrValues" 
                                    style="width: 100%;" 
                                    TextProperty="Name" 
                                    ValueProperty="Id" 
                                    Name="Description" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</RadzenTemplateForm>