@inherits GridBase<Descr>

@using Abstract
@using AlbyOnContainers.ProductDataManager.Models
@using AlbyOnContainers.ProductDataManager.Components

<RadzenTemplateForm Data="@Product">
    <div class="container-fluid">
        <div class="row mt-2">
            
            @foreach (var join in types)
            {
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="@join.DescrType.Name"/>
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="Product.Descrs" AllowClear="true" Placeholder="Select something" Data="@join.DescrType.DescrValues" style="width: 100%;" TextProperty="Name" ValueProperty="Id" Name="Description"></RadzenDropDown>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</RadzenTemplateForm>